* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(0, 0, 0, 0.03);
}

:root {
    font-size: 10px;
}

/********* HEADER STYLES *********/

.header {
    width: 100%;
    position: fixed;
    top: 0;
    text-align: center;   
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    background-color: white;
    z-index: 5;
}

.headerContainer {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#appName {

    margin: 0.8rem 0;

    font-family: 'Lobster', cursive;
    font-family: 'Lobster Two', cursive;
    font-size: 2.7rem;
    font-weight: 400;
}

#search {

    padding: 0.7rem 1rem;

    background-color: #f5f5f5;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    width: 20%;
    text-align: center;
    font-family: FontAwesome, Arial
}

#search::placeholder {
    text-align: center;
}

#search:focus {
    outline: none;
}

.listofPages {
    list-style: none;
}

.page {
    display: inline-block;
}

.pageIcon {
    background-color: transparent;
    border: none;
    font-size: 2.4rem;
    font-weight: 300;
    cursor: pointer;
    margin-right: 1.2rem;
}

#profilePage {

    padding-top: 1rem;
    max-width: 2.5rem;
    height: 3rem;

}

#profilePage img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}



/************ PROFILES STYLES *************/

.profile {

    margin: 5rem auto;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    width: 60%;
    height: 20rem;
    margin-bottom: 0;
}

.profileContainer {
    width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
}

.profilePhoto {
    max-width: 15rem;
    height: 15rem;
    border-radius: 50%;
    flex: 1;
    margin-right: 11.2rem;
    margin-left: 1.6rem;
}

#profilePhoto {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.profileData {
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.handle {
    display: flex;
    align-items: center;
}

#handleName {
    font-size: 2.4rem;
    font-weight: 200;
    font-family: 'Raleway', sans-serif;
    margin-right: 1rem;
}

#editProfileBtn {

    font-size: 1.44rem;

    font-weight: 600;
    padding:  0.64rem;
    border-radius: 3px;
    background-color: #f5f5f5;
    border: 1px solid #bbbbbb;
    cursor: pointer;
    margin-right: 1.6rem;
}

#settingBtn {

    font-size: 2.4rem;

    background: transparent;
    border: none;
    cursor: pointer;
}

.accountDetails {
    display: flex;
}
.accountDetailContainer {
    font-family: 'Lato', sans-serif;
    font-size: 1.76rem;
    margin-right: 1.6rem;
}

.accountDetail {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    margin: 0.5rem;
}

#username {
    font-size: 1.6rem;
}


/*********** MENU STYLES *********/
.menu {
    width: 60%;
    margin: 0 auto;
}

.menuContainer {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.menuPage {
    background: transparent;
    font-size: 1.36rem;
    border: none;
    padding: 1.6rem;
    color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.menuIcon {
    margin-right: 7px;
    font-size: 1.6rem;
}

.menuPage.active {
    color: rgba(0, 0, 0, 0.8);
    border-top: 1px solid rgba(0, 0, 0, 0.8);
}


/********* POSTS STYLES *********/

.posts {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 3rem;
}

.postsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(34rem, 1fr));
    grid-auto-rows: 34rem;
    grid-gap: 2.5rem;
}

.postImage {
    position: relative;
    width: 100%;
    height: 100%;
}

.post {
    width: 100%;
    height: 100%;
}

.likesAndComments {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: opacity .2s, visibility .2s;
}


.postHoverBtn {

    background: transparent;
    border: none;
    font-size: 1.9rem;
    font-weight: 500;
    color: white;
    margin-right: 2rem;
}


.postHoverBtn:nth-child(2) {
    margin-right: 0;
}

.postHoverIcon {
    margin-right: 0.7rem;

    font-weight: 700;
}

.postImage:hover {
    opacity: 0.7;
    cursor: pointer;
}

.postImage:hover .likesAndComments {
    visibility: visible;
    opacity: 1;
}



/*********** FOOTER STYLES **********/

.footerContainer {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;

    font-size: 1.44rem;
    margin-bottom: 6rem;

}

#listsOfInfo {
    list-style: none;
    
}

.infoPage {
    display: inline-block;
    margin-left: 2rem;
    
}

.infoPageLink {
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
}

.infoPageLink:hover {
    color: rgba(0, 0, 0, 0.8);
}

#listOfInfo li:nth-child(1) {
    margin-left: 0;
}

.languages {
    display: flex;
    margin-top: 2rem;
}

#languages {
    background-color: transparent;
    border: none;
    color: rgba(0, 0, 0, 0.5);
    margin-right: 2.5rem;
}

#languages:hover {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.8);
}

#languages:hover {
    cursor: pointer;
}

#languages:focus {
    outline: none;
}
